<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fishbowl</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/client/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="client/css/positioning.css" rel="stylesheet">
    </head>

    <body >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Fishbowl</a>
        </nav>
        <div class = 'row'>
            <div class = 'col-3 p-3 p-md-5 '>
                <h3>Lobby</h3>
                <div style="">
                    <div id=p1></div>
                    <div id=p2></div>
                    <div id=p3></div>
                    <div id=p4></div>
                    <div id=p5></div>
                    <div id=p6></div>
                    <div id=p7></div>
                    <div id=p8></div>
                    <div id=p9></div>
                    <div id=p10></div>
                    <div id=p11></div>
                    <div id=p12></div>
                </div><br>
                <form id = "updateUser">
                    Update Username: <input type="text" id = "customUser"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class = 'col-3 p-3 p-md-5'>
                <div id='timer' style="font-size:25px">Time Left: </div>
                <div><button onclick = "startGame();" id = "startGameButton">Start Game </button> </div>
                <button onclick = "pause();" disabled id = "pauseGameButton">Pause Game</button> 
                <button onclick = "resume();" disabled id = "resumeGameButton">Resume Game</button> 
                {{!--<button onclick = "endGame();" disabled id = "pauseGameButton">Pause Game </button> --}}
            </div>
            <div class = 'col-3 p-3 p-md-5'>
                <div id='yourWord' style="font-size:25px">word: </div>
                <button onclick = "correct();">Got It</button> 
                <button onclick = "pass();">New Card</button> 
                <div id = "printWord"></div>
            </div>
            <div class = 'col-3 p-3 p-md-5'>
                <div id = 'team1'></div>
                <div id = 'team2' ></div>
                <div id = 'team3'></div>
                <div id = 'team4'></div>
                <div id = 'team5'></div>
                <div id = 'team6'></div>
                <form id = "updateTeam">
                    Update Team Name: <input type="text" id = "customTeamName"><br>
                    <input type="submit" value="Submit">
                </form>
                <button onclick = "reset();">Reset Game</button> 
                <button onclick = "resetWordbank();">Restore Wordbank</button> 
            </div>
        </div>
        <div class='circle-container'>
            <div class = 'center bet' style = 'width:300px; height: 300px; top:40%; left:45%'>
                <h2  style='width:250px' >Word Bank</h2> 
                <form  style='width:250px' id = "add_word">
                    Add Word: <input type="text" name="newWord" id = "newWord"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            {{!--<div id='game1'><button onclick="joinGame(this.id, document.cookie);" id='game1' class='center'>Button</button></div>--}}
            <div id='game2' class='deg0 bet'><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game3' class='deg10 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game4' class='deg45 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game5' class='deg55 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game6' class='deg135 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game7' class='deg145 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game8' class='deg180 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game9' class='deg195 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game10' class='deg225 bet'><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game11' class='deg240 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game12' class='deg315 bet'><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>
            <div id='game13' class='deg330 bet '><button onclick="joinGame(this.parentElement.id);">Move Here</button></div>

        </div>

        <p style = "word-break: break-all; word-wrap: break-word;">---Don't: Move to more than one position, click 'draw card' or 'got it' when its not your turn. To start a new game, click 'reset' and also refresh the page. Contact Sarah Gu with any questions. </p>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script> 
            myName = ''
            var socket = io();
            socket.on('welcome', function(data){
                myName = data.message; 
            });
            $(document).ready(function(){
                $('#add_word').submit(function(){
                    socket.emit('addWord', {word: $('#newWord').val()});
                    $('#newWord').val('');
                    return false;
                });
            });
            $(document).ready(function(){
                $('#updateTeam').submit(function(){
                    if($('#customTeamName').val() != ''){
                        socket.emit('updateteamid', {newId: $('#customTeamName').val()});
                        $('#customTeamName').val('');
                    }
                    return false;
                });
            });
            $(document).ready(function(){
                $('#updateUser').submit(function(){
                    if($('#customUser').val() != ''){
                        myName = $('#customUser').val();
                        socket.emit('updateid', {newId: $('#customUser').val()});
                        $('#customUser').val('');
                    }
                    return false;
                });
            });
            socket.on('under5', function(data){
                alert('Less than 5 words in dictionary');
            });
            socket.on('noWords', function(data){
                alert('Out of words, put in more or reset word bank');
            })
            socket.on('oddPlayer', function(data){
                alert('One more player needed! ');
            });
            socket.on('clearTeams', function(data){
                for(var v = 1; v < 7; v++){
                    var ok = document.getElementById('team' + ("" + v));
                    ok.innerHTML = "";
                }
            });
            socket.on('showEveryone', function(data){
                var div = document.getElementById('printWord');
                div.innerHTML = 'The word was: ' + data.word; 
            });

            socket.on('highlight', function(data){

                var prevuserName = document.getElementById(data.prevP1);
                var prevuserName2 = document.getElementById(data.prevP2);
                prevuserName.style = '';
                prevuserName2.style = '';

                var userName = document.getElementById(data.mainP1);
                var userName2 = document.getElementById(data.mainP2);
                userName.style = 'background-color: yellow';
                userName2.style = 'background-color: yellow';
                
                document.getElementById('startGameButton').disabled = true; 
                document.getElementById('resumeGameButton').disabled = false; 
                document.getElementById('pauseGameButton').disabled = true; 

            });
            socket.on('clientStart', function(data){
                var userName = document.getElementById(data.mainP1);
                var userName2 = document.getElementById(data.mainP2);
                userName.style = 'background-color: yellow';
                userName2.style = 'background-color: yellow';
                document.getElementById('startGameButton').disabled = true; 
                document.getElementById('resumeGameButton').disabled = true; 
                document.getElementById('pauseGameButton').disabled = false; 
                
            });
            socket.on('sendData', function(data){
                for(var i = 0; i < data.pack.length; i++)
                {
                    var playerId = 'p' + ('' + (i+1));
                    var curDiv = document.getElementById(playerId);
                    if(data.pack[i].id == myName){
                        curDiv.innerHTML = data.pack[i].id;
                        curDiv.style = 'font-weight: bold';
                    }
                    else{
                        curDiv.innerHTML = data.pack[i].id;
                        curDiv.style = '';
                    }
                }
                for(var b = 12; b > data.pack.length; b-- ){
                        var div = document.getElementById('p' + ('' + b)); 
                        div.innerHTML = ""; 
                }
                for(var s in data.pack){
                    var tabEle = data.pack[s];
                    if(tabEle.inTable){

                        var tabDiv = document.getElementById(tabEle.divId);
                        tabDiv.innerHTML = tabEle.id; 
                    }
                }
                timer = document.getElementById('timer');
                timer.innerHTML = 'Time Left: ' + data.timer; 
                var idx = 1; 
                for(var p in data.points){
                    var div = document.getElementById('team' + (''+ idx));
                    div.innerHTML = 'Team ' + data.points[p].name + ': \n ' + data.points[p].pts;
                    idx += 1
                }
            
            })

        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src ="client/js/joinGame.js"></script>
        <script type="text/javascript" src ="client/js/startGame.js"></script>
        <script type="text/javascript" src = "client/js/wordBucket.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </body>
</html>